# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore model file
backend/random_forest_reg_model.pkl

# Ignore logs
*.log

# Ignore node modules (frontend)
node_modules/

# Ignore environment files
.env

# # Ignore trained models
backend/random_forest_reg_model.pkl

# Ignore training column info
backend/X_train_columns.pkl

# Ignore reference CSV
backend/df_waste_reference.csv
